/* Fix Code Blocks */
pre {
    white-space: pre !important;
}
.lineno {
    user-select: none !important;
    margin: 0 auto !important;
}
.rouge-table td {
    padding:inherit !important;
}
.rouge-table td.gutter.gl {
    width:7% !important;
}
.rouge-table td.code {
    width:93% !important;
}
.rouge-table {
    width:inherit !important;
}
.article-page {
    width: 100% !important;
}
/* Shrink Cover Images */
.page-cover-image {
    max-height: none !important;
    max-width: 25% !important;
    margin: 0 auto !important;
    background-color: #fff !important;
}
/* Make Thumbnails a nice size */
.post-thumbnail {
    background-size: 65% !important;
    background-repeat: no-repeat !important;
}

/* Remove Facebook Icon */
.contact li:nth-child(2) {
    display: none !important;
}

/* Fix Gist Hightlighting */
table tr:nth-child(even) {
  background: #eee !important;
}

/* Center navigation */
.container {
    display: block !important;
    margin: 0 auto !important;
}

.pagination ul {
    display: inline-flex !important;
}
.pagination ul p {
    padding-left: 0.5em !important;
    padding-right:0.5em !important;
}

/* Format Projects List */
.projects-title {
    font-size:1.25em;
    font-weight:bold;
    background: cadetblue;
    color:#ffffff;
    text-align:center;
    margin-top: 5.0em;
    padding-top:0.25em;
    padding-bottom:0.25em;
    display:block;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    border-radius: 5px;
    width: 102%;
}
.projects ul {
    list-style-type: none !important;
    padding-left: 0 !important;
    width: 100% !important;
}
.projects a {
    color: #263959;
    text-decoration: none;
}
.projects a:hover {
    color: cadetblue;
}

/* Format Search Results */
.sidebar {
    overflow: auto;
}

#search-input {
    width:100%;
    margin: 0 auto 2.0em;
    display: block;
}

#results-container {
  list-style-type:none;
  margin: 0 auto;
  margin-bottom: 5.0em;
  z-index:5;
  background-color: #fff;
}
.search-wrapper ul {
    padding-left: 0 !important;
}
.search-wrapper ul li a {
    color: #263959;
    text-decoration: none;
}
.search-wrapper ul a:hover {
    color: cadetblue;
}
.search-wrapper ul li:hover {
    -webkit-transform: translate(0px, -2px);
    -ms-transform: translate(0px, -2px);
    transform: translate(0px, -2px);
}
.search-wrapper ul li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

/* Format links in blog posts */
.wrap-content a {
    color: #263959 !important;
    text-decoration: none !important;
}
.wrap-content a:hover {
    color: cadetblue !important;
}

.about .author-name::after {
    display: none !important;
}
.about .author-name p {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}
.about .author-name p:nth-child(2) {
    font-size: 15px;
    margin: 0 0 10px;
    text-transform: none !important;
    font-weight: normal !important;
    text-align: left;
}
/* New Navigation Arrows */
i.fa.fa-arrow-circle-o-left {
    font-size:25px;
}
i.fa.fa-arrow-circle-o-left:hover {
    color: cadetblue;
}
i.fa.fa-arrow-circle-o-right {
    font-size:25px;
}
i.fa.fa-arrow-circle-o-right:hover {
    color: cadetblue;
}
/* Contact cadetblue highlight */
.contact i.fa.fa-twitter:hover {
    color: cadetblue;
}
.contact i.fa.fa-github:hover {
    color: cadetblue;
}
.contact i.fa.fa-linkedin:hover {
    color: cadetblue;
}
.contact i.fa.fa-envelope-o:hover {
    color: cadetblue;
}
/* Format Post Link Headings to cadetblue */
.post h2 a:hover {
    color: cadetblue !important;
}
.about .cover-author-image {
    background-color: cadetblue !important;
}
/* Center WRapper */
.wrapper {
    margin: auto;
}
